@import url('https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	font-family: 'Sen', sans-serif; */
	font-family: 'Poppins', sans-serif;
}

/* Section-1 Start */

.section-1 {
	width: 100%;
	height: 840px;
	background-color: #C98A40;
}

.section-1-left {
	width: 60%;
	height: 840px;
	background:  url(../img/bg-1-left.jpg) no-repeat;
	background-size: 449px 201px;
	background-position: left bottom;
	float: left;
}

.section-1-right {
	width: 40%;
	height: 840px;
	float: right;
	background: #FFFFFF url(../img/bg-1-right.png) no-repeat;
	background-size: 689px 840px;
}

.tasty-pastries {
	width: 621px;
	margin-top: 25px;
	margin-left: 280px;
	height: 800px;
}

.section-1-left a img {
	width: 248px;
	height: 68px;
}

.section-1-title {
	margin-top: 190px;
	font-family: 'Sen', sans-serif;
	font-size: 74px;
	font-weight: 800;
	color: #FFFFFF;
}

.section-1-parag {
	width: 552px;
	margin-top: 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
}

.section-1-btn {
	width: 194px;
	margin-top: 40px;
	height: 60px;
	border: none;
	border-radius: 30px;
	background-color: #FDBA10;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #FFFFFF;
}

.section-1-icons {
	display: inline-block;
	width: 25px;
	margin-top: 100px;
	margin-left: 120px;
	height: 150px;
}

.section-1-icons i {
	font-size: 24px;
	margin-bottom: 16px;
	color: #C98A40;
}

.tell-link span {
	font-weight: 700;
}


.tell-link {
	text-decoration: none;
	margin-left: 40px;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
}

.section-1-right img {
	width: 666px;
	height: 413px;
	margin-top: 320px;
	margin-left: -160px;
}

/* Section-1 End */

/* Section-2 Start */

.section-2 {
	width: 100%;
	height: 840px;
	background-color: #C98A40;
}

.section-2-left {
	width: 40%;
	height: 840px;
	background: #FFFFFF url(../img/bg-2.png) no-repeat;
	background-size: 689px 840px;
	float: left;
}

.section-2-right {
	width: 60%;
	height: 840px;
	float: right;
}

.section-2-left-parag {
	width: 277px;
	padding-top: 190px;
	margin-left: 310px;
	height: 156px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #C98A40;
}

.section-2-right-title {
	width: 630px;
	margin-left: 100px;
	margin-top: 20px;
	height: 276px;
	font-family: 'Sen', sans-serif;
	font-size: 144px;
	text-transform: uppercase;
	text-align: right;
	font-weight: 800;
	color: #F2F2F2;
}

.we-works-box {
	width: 1140px;
	margin-left: -360px;
	margin-top: 130px;
	height: 410px;
	text-align: center;
}

.we-works {
	width: 270px;
	height: 304px;
	border-radius: 10px;
	background: red;
	float: left;
}

.we-works img {
	width: 270px;
	height: 304px;
}

.we-works:nth-child(2) {
	margin-left: 20px;
}

.we-works:nth-child(3) {
	margin-left: 20px;
}

.we-works:nth-child(4) {
	margin-left: 20px;
}

.contact-us-btn {
	width: 195px;
	margin-top: 30px;
	height: 60px;
	border: none;
	border-radius: 30px;
	background-color: #FDBA10;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #FFFFFF;
}

.contact-us-btn:hover {
	background-color: #FFFFFF;
	color: #FDBA10;
	border: 2px solid #FDBA10;
	transition: 1s;
}

/* Section-2 End */

/* Section-3 Start */

.section-3 {
	width: 100%;
	height: 840px;
}

.section-3-left {
	width: 70%;
	height: 840px;
	background-color: #C98A40;
	float: left;
}

.section-3-right {
	width: 30%;
	height: 840px;
	background-color: #FFFFFF;
	float: right;
}

.section-3-right img {
	width: 642px;
	margin-top: 50px;
	margin-left: -230px;
	height: 740px;
}

.section-3-left-title {
	width: 508px;
	margin-left: 260px;
	font-family: 'Sen', sans-serif;
	font-size: 144px;
	font-weight: 800;
	color: #FFFFFF;
	text-transform: uppercase;
}

.section-3-left-parag {
	width: 508px;
	margin-top: 40px;
	margin-left: 260px;
	height: 312px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	margin-left: 260pxs;
}

.btn-2 {
	margin-top: 42px;
	margin-left: 260px;
}

/* Section-3 End */

/* Section-4 Start */

.section-4 {
	width: 100%;
	height: 915px;
}

.section-4 .section-4-title {
	padding-top: 50px;
	font-family: 'Sen', sans-serif;
	font-size: 144px;
	font-weight: 800;
	text-align: center;
	color: #C98A40;
	text-transform: uppercase;
}

.services-box {
	width: 1199px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	height: 610px;
	text-align: center;
}

.servis {
	width: 385px;
	height: 504px;
	background-color: #FFFFFF;
	border-radius: 30px;
	border: 1px solid #FFD8AB;
	float: left;
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
}

.servis:nth-child(2) {
	margin-left: 22px;
}

.servis:nth-child(3) {
	float: right;
}

.servis img {
	width: 385px;
	height: 290px;
}

.servis-title {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-align: left;
	color: #C98A40;
	margin: 25px 30px 10px;
}

.servis-parag {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
	color: #333333;
}

.btn-3 {
	margin-top: 50px;
}

.about {
	width: 450px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background: url(../img/mitig.png) no-repeat;
	background-size: 108px 94px;
	background-position: center right;
	background-position-y: 90px;
}

/* Section-4 End */

/* Section-5 Start */

.section-5 {
	width: 100%;
	height: 900px;
	background: #C98A40 url(../img/bg-test.png) no-repeat;
	background-size: 100% 900px;
	text-align: center;
}

.section-5-title {
	font-family: 'Sen', sans-serif;
	padding-top: 50px;
	text-align: center;
	font-size: 144px;
	font-weight: 800;
	color: #FFFFFF;
}

.comments {
	width: 1075px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	height: 496px;
}

.comment {
	width: 512px;
	height: 192px;
	padding: 20px;
	border-radius: 40px;
	background-color: #FFFFFF;
	float: left;
	border: 1px solid #6D91EE;
	text-align: left;
}

.comment:nth-child(2) {
	float: right;
}

.comment:nth-child(3) {
	margin-top: 30px;
}

.comment:nth-child(4) {
	float: right;
	margin-top: 30px;
}


.comment .commentator-name {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #C98A40;
}

.comment .commentator-text {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #333333;
	margin-top: 13px;
}

.span-star{
	display: inline-block;
	color: #C98A40;
	margin-top: 13px;
}

.span-star i {
	font-size: 18px;
	margin: 0 3px;
}

.btn {
	margin-top: -50px;
}

/* Section-5 End */

/* Section-6 Start */

.section-6 {
	width: 100%;
	height: 532px;
}

.section-6-title {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 648px;
	border-radius: 0px 0px 50px 50px;
	text-align: center;
}

.section-6-title h2 {
	font-family: 'Sen', sans-serif;
	font-weight: 800;
	color: #C98A40;
	font-size: 144px;
	margin-top: 50px;
	text-transform: uppercase;
}

.forms {
	width: 374px;
	height: 266px;
	margin-left: 110px;
	float: left;
}

.form {
	width: 370px;
	height: 266px;
	margin-top: 50px;
}

.form input {
	width: 374px;
	height: 64px;
	border-radius: 40px;
	border: none;
	background-color: #FFD39F;
	margin-bottom: 14px;
}

.form input:nth-child(4) {
	background-color: #FFFFFF;
	border: 3px solid #C98A40;
	opacity: 1;
	width: 168px;
}

.contact-icons {
	width: 315px;
	margin-top: 82px;
	margin-left: 100px;
	height: 132px;
	float: left;
}

.contact-spans {
	display: inline-block;
	width: 314px;
	height: 24px;
	margin-bottom: 30px;
}

.contact-spans i {
	font-size: 24px;
	float: left;
	color: #C98A40;
	margin-right: 20px;
}

.contact-spans p {
	text-align: left;
	margin-top: 4px;
	font-family: Regular;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
}

/* Section-6 End */

.footer {
	width: 100%;
	margin-top: 60px;
	height: 117px;
	background-color: #584125;
}